/* shared -> mobile -> tablet -> desktop
Home->WebD->AppD->graphicD->About->Locations->Contact
 */

body{
    box-sizing: border-box;
    min-height: calc(100vh - 700px);
}



/* ---------------------------------------
------------------------------------------------------
Shared Nav / footer---------------------------
------------------------------------------------------
---------------------------------------*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgb(224, 224, 224);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    width: 60%;
    height: 60%;

}

.logoTop{
    height: 50%;
    width: 60%;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
    

}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(224, 224, 224);
    margin: 5px;
    transition: all 0.3 ease;
}



/* -----------------------------------------
-----------------------------------------
NAV Functionality-----------
-----------------------------------------
-----------------------------------------*/
@media screen and (max-width: 900px){
    body{
        overflow-x: hidden;
    }
    
    .nav-links{
        position: absolute;
            right: 0;
            height: 300px;
            top: 8vh;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }

    

}

.nav-active {
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* ------------------------------------------
-----------------------------------------
End Nav-------------------------------------
-----------------------------------------
-----------------------------------------*/
.mainFooter{
    background-color: black;
    height: 700px;
    width: 100%;
    color: white;
    margin-bottom: -2%;
    z-index: 1;
    position: absolute;
    padding-bottom: 5%;
}

.footerLogoImg{
    width: 50%;
    margin-top: 40%;
    padding-left: 25%;

}

.footerLinks{
    border-top: grey 1px solid;
    line-height: 40px;
    width: 80%;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    
}

.footerLocation,
.footerContact{
    margin: auto;
    text-align: center;
    color: gray;
}

.btn-group{
    margin: auto;
    width: 60%;
    margin-bottom: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.home-talkH1{
    color: white;
    font-size: 35px;
    width: 70%;
    margin: auto;
    font-weight: 900;
   
}

.home-talk{
    width: 90%;
    background-color: #e78168;
    background-image: url(/assets/home/desktop/bg-pattern-hero-home.svg);
    background-size: 50%;
    height: min-content;
    margin-left: 5%;
    padding-top: 10%;
    margin-bottom: -30%;
    margin-top: 20%;
    z-index: 10;
    position: relative;
    border-radius: 25px;
    font-family: 'Jost', sans-serif;
}
.home-talkP{
    width: 90%;
    margin: auto;
    padding-top: 7%;
    color: white;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
}
.home-talkButton{
    width: 40%;
    height: 15%;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 5%;
    font-family: 'Jost', sans-serif;
}


/* -----------------------------------------
Shared end----------------------------------
-----------------------------------------*/

/* -----------------------------------------
Home-----------------------------------------
-----------------------------------------*/

.mainHead{
    background-color: #e78168;
    height: 43.75em;
    background-image: url(/assets/home/desktop/bg-pattern-hero-home.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: grid;
    grid-template-rows: 30% 70%;
    border-radius: 20px;
    z-index: 1;
    position: relative;
}

.topWu{
    grid-row: 1/2;
    width: 80%;
    margin: auto;
    text-align: center;
    color: white;
}
.mainHeadH3{
    font-size: 25px;
    font-family: 'Jost', sans-serif;
    color: white;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

.mainHeadButton{
    height: 40px;
    width: 100px;
    border-radius: 5px;
}

.topImg{
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    
    background-image: url(/assets/home/desktop/image-hero-phone.png);
    background-position: 50% 20%;
    z-index: 10;
    background-repeat: no-repeat;
    position: relative;
    
}

.home-designOptions{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}
.home-designWeb{
    grid-row: 1/2;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/mobile/image-web-design.jpg);
    border-radius: 20px;
}
.home-designApp{
    grid-row: 2/3;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/mobile/image-app-design.jpg);
    border-radius: 20px;
}
.home-designGraphic{
    grid-row: 3/4;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/mobile/image-graphic-design.jpg);
    border-radius: 20px;
}

.home-designWu{
    text-align: center;
    color: rgb(255, 251, 251);
    margin-top: 15%;
}
.home-designH1{
    font-size: 30px;
    font-weight: 800;
}
.home-aboutUs{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
}
.home-about1{
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.home-about2{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.home-about3{
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.home-aboutImg{
    grid-row: 1/2;
    border-radius: 1000px;
    background: lightgray;
}

/* -----------------------------------------
Web Deisgn/Graphic-----------------------------------------
-----------------------------------------*/
.wd-Top,
.gd-Top{

    height: 300px;
    background-color: #e78168;
    background-image: url(/assets/shared/desktop/bg-pattern-small-circle.svg);
    text-align: center;
    border-radius: 10px;
}

.wd-topH1,
.gd-topH1{
    color: white;
    margin: auto;
    padding-top: 20%;
    font-family: 'Jost', sans-serif;
}
.wd-topP,
.gd-topP{
    color: white;
    width: 90%;
    margin: auto;
    padding-top: 5%;
    font-weight: 800;
    line-height: 20px;
    font-family: 'Jost', sans-serif;
}

.wd-mainEx,
.gd-mainEx{
    margin-top: 5%;
}

.wd-main1,
.wd-main2,
.wd-main3,
.wd-main4,
.wd-main5,
.wd-main6,
.gd-main1,
.gd-main2,
.gd-main3,
.gd-main4,
.gd-main5,
.gd-main6{
    height: 150%;
    display: grid;
    grid-template-rows: 70% 30%;
    width: 90%;
    margin: auto;
    padding-top: 5%;
}
.wd-mainImgTop,
.gd-mainImgTop{
    grid-row: 1/2;
    
}
.wd-Img,
.gd-Img{
    width: 100%;
    border-radius: 10px 10px 0px 0px ;
}
.wd-mainWU,
.gd-mainWU{
    grid-row: 2/3;
    text-align: center;
    background-color: #f8ded9;
    border-radius: 0px 0px 10px 10px;

    font-family: 'Jost', sans-serif;
}
.wd-mainH,
.gd-mainH3{
    color: #e78168;
}
.wd-mainP,
.gd-mainP{
    color: black;
    width: 80%;
    margin: auto;
}


#wd-designAppWU,
#wd-designGDWU{
    padding-top: 10%;
}

.wd-designs,
.gd-designOptions{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    margin: auto;
}

.wd-designApp,
.gd-designApp{
    grid-row: 1/2;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/mobile/image-app-design.jpg);
    border-radius: 20px;
    background-size: cover;
    margin-top: 5%;

}
.wd-designGraphic{
    grid-row: 2/3;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/mobile/image-graphic-design.jpg);
    border-radius: 20px;
    background-size: cover;
    margin-top: 5%;
}
.gd-designWeb{
    grid-row: 2/3;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/mobile/image-web-design.jpg);
    border-radius: 20px;
    background-size: cover;
    margin-top: 5%;
}
.wd-designWu,
.gd-designWu{
    color: white;
    margin-left: 30%;
    margin-top: 15%;
}

/* ------------------------------------------
App Design---------------------------------------
----------------------------------------------*/

.ad-Top{
    height: 300px;
    background-color: #e78168;
    background-image: url(/assets/shared/desktop/bg-pattern-small-circle.svg);
    text-align: center;
    border-radius: 10px;
}

.ad-topH1{
    color: white;
    margin: auto;
    padding-top: 20%;
    font-family: 'Jost', sans-serif;
}
.ad-topP{
    color: white;
    width: 90%;
    margin: auto;
    padding-top: 5%;
    font-weight: 800;
    line-height: 20px;
    font-family: 'Jost', sans-serif;
}

.ad-mainEx{
    margin-top: 15%;
}

.ad-main1,
.ad-main2,
.ad-main3,
.ad-main4,
.ad-main5,
.ad-main6{
    height: 150%;
    display: grid;
    grid-template-rows: 70% 30%;
    width: 95%;
    margin: auto;
    padding-top: 5%;
}
.ad-mainImgTop{
    grid-row: 1/2;
    
}
.ad-Img{
    width: 100%;
    border-radius: 10px 10px 0px 0px ;
}
.ad-mainWU{
    grid-row: 2/3;
    text-align: center;
    background-color: #f8ded9;
    border-radius: 0px 0px 10px 10px;

    font-family: 'Jost', sans-serif;
}
.ad-mainH3{
    color: #e78168;
}
.ad-mainP{
    color: black;
    width: 80%;
    margin: auto;
}

.ad-designOptions{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin: auto;

    width: 90%;
    
}

.ad-designWeb{
    grid-row: 1/2;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/mobile/image-web-design.jpg);
    border-radius: 20px;
    background-size:cover;
    margin-top: 5%;

}
.ad-designGraphic{
    grid-row: 2/3;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/mobile/image-graphic-design.jpg);
    border-radius: 20px;
    background-size: cover;
    margin-top: 5%;
}
.ad-designWu{
    color: white;
    margin-left: 30%;
}





/* 
@media(min-width: 419px){
  .topImg{
      height: 100%;
      background-position: 50% 5%;
  }  

  .mainHead{
      height: 300px;
  }
} */

@media(min-width: 467px){
    .topImg{
        height: 100%;
        background-position: 50% 10%;
    }  
    .mainHead{
        height: 43.75em;
    }
  }
  
  

@media(min-width: 520px){
    body{
        box-sizing: border-box;
        min-height: calc(100vh - 500px);
    }
    


    .mainHead{
        height: 750px;
        margin-bottom: 5%;
        position: relative;
    }
    

    .mainHeadH3{
        font-size: 35px;
    }
    .mainHeadP{
        font-size: 20px;
    }
    .topImg{
        height: 95%;
        margin-top: 5%;
        margin-bottom: -20px;
        background-position: 50% 8%;
        padding-bottom: 0%;

    }

    .mainFooter{
        height: 500px;
        display: grid;
        grid-template-rows: 55% 15% 30%;
        grid-template-columns: 30% 30% 30%;
    }
    .footerLogo{

        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
    }

    .footerLogoImg{
        margin-top: 10%;
        width: 60%;
    }

    .footerLinks{
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        border-top: none;
        color: white;
        list-style-type: none;
        font-size: 20px;
        
    }
    .footerLinks a{
        color: gray;
    }
    .footerBottom{
        grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 100%;
        border-top: 1px solid gray;
        margin: auto;
        width: 95%;
    }
    .footerLocation{
        grid-row: 1/2;
        grid-column: 1/2;
        
    }
    .footerContact{
        grid-row: 1/2;
        grid-column: 2/3;
        
    }
    .btn-group{
        grid-row: 1/2;
        grid-column: 3/4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-left: 30%;
    }

    



/* Shared end */

.home-mainContainer{
    margin-top: 10%;
}
.home-designWeb{
    background-image: url(/assets/home/tablet/image-web-design.jpg);
}
.home-designApp{
    background-image: url(/assets/home/tablet/image-app-design.jpg);
}
.home-designGraphic{
    background-image: url(/assets/home/tablet/image-graphic-design.jpg);
}
.home-designWu{
    margin: auto;
    padding-top: 5%;
}
.home-aboutUs{
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 40px;
}
.home-about1{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 25% 65%;
    grid-gap: 40px;
}
.home-about2{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 25% 65%;
    grid-gap: 40px;
}
.home-about3{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 25% 65%;
    grid-gap: 40px;
}
.home-aboutImg{
    grid-column: 1/2;
}
.home-aboutWU{
    grid-column: 2/3;
    width: 80%;
    margin: auto;
    text-align: left;
    padding-left: 10%;
}

/* ----------------------------------------
Tablet  Designs------------------------
----------------------------------------*/

.wd-topH1,
.ad-topH1,
.gd-topH1{
    padding-top: 10%;
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    
}
.wd-topP,
.ad-topP,
.gd-topP{
    line-height: 30px;
    width: 80%;
}

.wd-main1,
.wd-main2,
.wd-main3,
.wd-main4,
.wd-main5,
.wd-main6,
.ad-main1,
.ad-main2,
.ad-main3,
.ad-main4,
.ad-main5,
.ad-main6,
.gd-main1,
.gd-main2,
.gd-main3{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: min-content;

}
.wd-mainImgTop,
.ad-mainImgTop,
.gd-mainImgTop{
    grid-column: 1/2;
    grid-row: 1/2;
    
}
.wd-Img,
.ad-mainImg,
.gd-Img{
    border-radius: 10px 0px 0px 10px; 
}
.wd-mainWU,
.ad-mainWU,
.gd-mainWU{
    grid-column: 2/3;
    grid-row: 1/2; 
    border-radius: 0px 10px 10px 0px;
}
.wd-mainH3,
.ad-mainH3,
.gd-mainH3{
    padding-top: 3rem;
    font-size: 2em;
}

.wd-designOptions,
.ad-designOptions,
.gd-designOptions{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

.wd-designApp,
.gd-designApp{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/tablet/image-app-design.jpg);
    border-radius: 20px;
    background-size: cover;
    margin-top: 5%;

}
.wd-designGraphic,
.ad-designGraphic{
    grid-row: 2/3;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/tablet/image-graphic-design.jpg);
    border-radius: 20px;
    background-size: cover;
    margin-top: 5%;
}
.wd-designWu,
.ad-designWu,
.gd-designWu{
    color: white;
    margin-left: 40%;
    padding-top: 2%;
    margin-top: 5%;
}
.ad-designWeb{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/tablet/image-web-design.jpg);
    border-radius: 20px;
    background-size: cover;
    margin-top: 5%;

}
.gd-designWeb{
    grid-row: 2/3;
    grid-column: 1/2;
    height: 200px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/assets/home/tablet/image-web-design.jpg);
    border-radius: 20px;
    background-size: cover;
    

}








}
/* end tablet */


@media(min-width:817px){
    /* Shared */
    .mainFooter{
        height: 400px;
        grid-gap: 20PX;
    }
    .footerLogoImg{
        margin-bottom: 15%;
    }
    .footerLogo{
        margin-bottom: 15%;
    }

    .home-talk{
        display: grid;
        grid-template-columns: 50% 20% 30%;
        grid-template-rows: 200px;
        margin-bottom: -15%;
    }
    .home-talkWu{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: initial;
        padding-top: -5%;
    }

    .home-talkButton{
        grid-column: 3/4;
        grid-row: 1/2;
        height: 50px;
        width: 60%;
        margin-left: -10%;
    }
    .home-talkH1{
        margin-top: -10%;
        font-size: 30px;
    }




    /* End shared */
    .mainHead{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50%  50%;
    }
    .topWu{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .topImg{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .home-designOptions{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-gap: 10px;
    }
    .home-designWeb{
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(/assets/home/desktop/image-web-design-large.jpg);
        background-size: cover;
        height: 100%;
    }
    .home-designApp{
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(/assets/home/desktop/image-app-design.jpg);
    }
    .home-designGraphic{
        grid-column: 2/3;
        grid-row: 2/3;
        background-image: url(/assets/home/desktop/image-graphic-design.jpg);
    }

    .webdesSection{
        padding-top: 20%;
        text-decoration-thickness: 2%;
        font-weight: 9000;
    }

    .home-aboutUs{
        display: flex;
        flex-direction: row;
        background-image: url(/assets/home/desktop/bg-pattern-hero-home.svg);
        
    }
    .home-about1,
    .home-about2,
    .home-about3{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        width: 30%
    }
    .home-aboutImg{
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
    }
    .home-aboutWU{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }

/* ------------------------------------
Designs-----------------------------
------------------------------------*/
   .ad-topH1,
   .wd-topH1,
   .gd-topH1{
       padding-top: 5%;
   }

    .ad-topP,
    .wd-topP,
    .gd-topP{
        margin-bottom: 10%;
    }


    .gd-mainEx{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 90%;
        margin: auto;
    }
    .wd-mainEx,
    .ad-mainEx{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        width: 90%;
        margin: auto;
    }

    .wd-main1,
    .ad-main1,
    .gd-main1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .wd-main2,
    .ad-main2,
    .gd-main2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .wd-main3,
    .ad-main3,
    .gd-main3{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .wd-main4,
    .ad-main4{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .wd-main5,
    .ad-main5{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .wd-main6{
        grid-column: 3/4;
        grid-row: 2/3;
    }


    .wd-main1,
    .wd-main2,
    .wd-main3,
    .wd-main4,
    .wd-main5,
    .wd-main6,
    .ad-main1,
    .ad-main2,
    .ad-main3,
    .ad-main4,
    .ad-main5,
    .ad-main6,
    .gd-main1,
    .gd-main2,
    .gd-main3{
        height: 100%;
        display: grid;
        grid-template-rows: 60% 40%;
        width: 90%;
        margin: auto;
        
        grid-template-columns: 100%;
    }

    .wd-mainImgTop,
    .ad-mainImgTop,
    .gd-mainImgTop{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .wd-mainWU,
    .ad-mainWU,
    .gd-mainWU{
        grid-column: 1/2;
        grid-row: 2/3;
        border-radius: 0px 0px 10px 10px;
    }
    .wd-mainH3,
    .ad-mainH3,
    .gd-mainH3{
        padding-top: initial;
    }
    .wd-Img,
    .ad-Img,
    .gd-Img{
        border-radius: 10px 10px 0px 0px;
    }

    .wd-designs,
    .ad-designOptions,
    .gd-designOptions{
        margin-top: 10%;
        display: grid;
        grid-template-columns: 47% 50%;
        grid-template-rows: 200px;
        grid-gap: 10px;
        margin-bottom: -10%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .wd-designApp,
    .ad-designWeb,
    .gd-designApp{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .wd-designGraphic,
    .ad-designGraphic,
    .gd-designWeb{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .wd-designWu,
    .ad-designWu,
    .gd-designWu{
        margin-left: 35%;
        padding-bottom: 10%;
    }
    /* #wd-designAppWU, 
    #wd-designGDWU {
        padding-top: 5%;
    } */

}
/* end Desktop display */





